{% extends 'base.html' %}

{% block title %}
    Criar Produto
{% endblock %}

{% block content %}
<h2 class="fw-bold text-center mb-4">Criar Produto</h2>

<form method="post" enctype="multipart/form-data" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
        <label for="id_nome" class="form-label">Nome</label>
        {{ form.nome.errors }}
        {{ form.nome }}

    </div>

    <div class="mb-3">
        <label for="id_descricao" class="form-label">Descrição</label>
        {{ form.descricao.errors }}
        {{ form.descricao}}
    </div>

    <div class="mb-3">
        <label for="id_preco" class="form-label">Preço</label>
        {{ form.preco.errors }}
        {{ form.preco}}
    </div>

    <div class="mb-3">
        <label for="id_imagem" class="form-label">Imagem</label>
        {{ form.imagem.errors }}
        {{ form.imagem }}
    </div>

    <div class="mb-3">
        <label for="id_categoria" class="form-label">Categoria</label>
        {{ form.categoria.errors }}
        {{ form.categoria}}
    </div>

    <button type="submit" class="btn btn-primary">Criar Produto</button>
    <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Cancelar</a>
</form>
{% endblock %}
