{% extends 'base.html' %}
    {% block title %}
    home

    {% endblock %}
    {% block content %}

<!-- Imagens -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="d-flex justify-content-center">
  <img src="/media/banner/banner.png" class="banner-gnome img-fluid" alt="Promoção Gnome Gamer">
  </div>

  <div class="container my-5">
    <h2 class="fw-bold text-center mb-4">Ofertas Imperdíveis</h2>
        <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for produto in produtos %}
        <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
            <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <h6 class="text-danger fw-bold">R$ {{ produto.preco }}</h6>
            <form action="{% url 'add_no_carrinho' produto.id %}" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">
                <i class="fas fa-shopping-cart"></i> Comprar
            </button>
            </form>
            </div>
        </div>
        </div>
    {% empty %}
        <p>Não há produtos nessa categoria.</p>
    {% endfor %}
    </div>
    </div>


  </div>
</div>
</div>
    {% endblock %}