{% extends 'base.html' %}
    {% block content %}
    CARRINHO

    {% endblock %}

    <div class="container carrinho-header">
        <h2><i class="fas fa-shopping-cart"></i> Meu Carrinho</h2>
    </div>

    <div class="container carrinho-conteudo">
    {% if produtos %}
        {% for produto in produtos %}
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
            <img src="{{ produto.imagem.url }}" class="img-fluid rounded-start" alt="{{ produto.nome }}">
            </div>
            <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <p class="card-text">{{ produto.descricao }}</p>
                <p class="card-text"><strong>R$ {{ produto.preco }}</strong></p>

                <!-- Formulário para remover do carrinho -->
                <form method="post" action="{% url 'remover' produto.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Remover do Carrinho
                </button>
                </form>
            </div>
            </div>
        </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="container carrinho-vazio">
        <p>Nenhum produto no seu carrinho.</p>
        </div>
    {% endif %}
    </div>
    {% block footer %}{% endblock %}

