{% extends 'base.html' %}
    {% block title %}
    Atendimento ao Cliente

    {% endblock %}
    {% block content %}

    <!-- Vitrine de Hardware -->
    <div class="container my-5">
    <h2 class="fw-bold text-center mb-4">Componentes de Hardware</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for produto in hardwares %}
        <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
            <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <h6 class="text-danger fw-bold">R$ {{ produto.preco|floatformat:2 }}</h6>
            <a href="#" class="btn btn-danger w-100"><i class="fas fa-shopping-cart"></i> Comprar</a>
            </div>
        </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum produto encontrado.</p>
        {% endfor %}
    </div>
    </div>
    {% endblock %}

